.album_list {
  position: absolute;
  top: 100px;
  padding: 10rpx;
}
.album_item {
  padding: 10rpx 0;
  display: flex;
}
.album_img {
  flex-grow: 1;
  padding: 10rpx;
}
.vimage {
  width: 330rpx;
  height: 330rpx;
}

.album_info {
  flex-grow: 2;
  padding: 0 10rpx;
}
.album_name {
  font-size: 30rpx;
  color: #000;
  padding: 10rpx 0;
}
.album_aunthor {
  padding: 10rpx 0;
  font-size: 30rpx;
  word-wrap: break-word;
}
.album_price {
  font-size: 30rpx;
  color: #000;
  padding: 10rpx 0;
}
